
body{
    background-image: url(./pexels-pixabay-157879.jpg);   
    background-position: center; 
}

.counter{
    color: antiquewhite;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 15%;
}

.head{
    text-align: center;
    color: rgb(206, 141, 20);
    font-family: "Anta", sans-serif;
    font-size: 23px;
}

.box{
    color: antiquewhite;
    font-family: "Protest Riot", sans-serif;
    font-size: 20px;
}

.box h2{
    margin: 30px;
}